{% extends "layout.html" %}

{% block body %}

    <div class="container">

      <div class="content">
          <h3>Enter a comment:</h3>
          <form method=post>
             <div class="clearfix">
            <label for="xlInput">Your comment:</label>
            <div class="input">
              <input class="xlarge" id="test_item" name="test_item" size="30" type="text">
            </div>
          </div>
             <div class="actions">
                <input type="submit" class="btn primary" value="Save changes">&nbsp;<button type="reset" class="btn">Cancel</button>
          </div>
          </form>
      </div>

{% endblock %}
