{% extends "layout.html" %}

{% block body %}

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>Greetings from ... <small>historical picture postcards of britain</small></h1>
        </div>
        <div class="row">
          <div class="span14">
            <img src="http://farm3.staticflickr.com/2176/2126269927_906499e1cf_z.jpg" alt="A Picture Postcard of a Steam
            train in Barnt Green railway station." />
            <h2>Welcome</h2>
            <p>This site hopes to be a Picture Postcode Archive and Database toolset, with added bulletin board features
            bolted on. The hope is to attract and retain visitors interested in British local history and collecting
            historical Picture Postcards. Over time location, transcribed messages, philately and off-topic messaging
            could be introduced. Ultimately, subtle advertising, private collections and postcard trading may monetise
            the site.
            </p>

            <hr/>
            <h4>Comments</h4>
             <ul>
                 <li>At present the purpose of this section is as a prototype to assist with the engineering effort.</li>
             </ul>
            {% for comment in comments %}
            <blockquote>
                <p>{{ comment.test_item }}
                   {% if user.moderator %}
                       | <a href="/ban/{{comment.id}}">x</a>
                   {% endif %}
                </p>
                <small>written by @{{ comment.creator.screenname }}</small>
            </blockquote>
            {% endfor %}

            <a href="/comment/add" class="btn primary pull-right">Add Comment</a>

             <br/><hr/>

          </div>
        </div>
      </div>

{% endblock %}
