{% extends "layout.html" %}

{% block body %}

    <div class="container">

      <div class="content">
          <h2>Users</h2>

          <table>
              <thead><tr>
                  <th>Screen Name</th>
                  <th>Twitter ID</th>
                  <th>Moderator?</th>
              </tr></thead>
          {% for user in users %}
              <tr>
                  <td>{{ user.current_screenname }}</td>
                  <td>{{ user.twitter_user_id }}</td>
                  <td><a href="/makemod/{{ user.twitter_user_id }}">{{ user.moderator }}</a></td>
              </tr>
            {% endfor %}
          </table>




      </div>

{% endblock %}
