{% extends "layout.html" %}

{% block body %}

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li class="active"><a href="/welcome#">Admin</a></li>
          </ul>
      <!--
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
      -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
          <h2>Database Versions</h2>
          <p><b>Current Database Version #:</b><big>{{ db_ver_num }}</big></p>
      </div>

{% endblock %}
